.container {
    display: flex;
    flex-direction: row wrap;
    align-items: center;
    justify-content: center;
}

.column {
    flex-direction: column;
}

.genreCard {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin: 1em;
}

.genreText {
    text-decoration: underline;
    margin-bottom: 3px;
    color: #ffaf47;
}

.genreImage {
    width: 8em;
    height: 9em;
    position: relative;

}

.genreImage:hover {
    opacity: 0.25;
}

.artist {
    display: none;
    position: absolute;
    font-weight: 900;
    opacity: 1;
}

.artist:hover {
    opacity: 1;
}

@media screen and (min-width: 768px) {

    .container {
        display: flex;
        flex-direction: column;
        margin-top: 3em;
        margin-bottom: 3em;
    }
    
    .column {
        display: flex;
        flex-direction: row;
        align-items: space-evenly;    
    }

    .genreCard {
        margin: 0.5em;
    }
}
