* {
    box-sizing: border-box;
    text-align: center;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: #2c2c2c;
}

.col-1, .col-2 {
    width: 50%;
    height: 10em;

}

.col-3, .col-4 {
    width: 50%;
    height: 10em;

}

.col-5, .col-6 {
    width: 50%;
    height: 10em;

}

.col-7, .col-8 {
    width: 50%;
    height: 10em;

}

.col-9, .col-10 {
    width: 50%;
    height: 10em;

}

.col-11, .col-12 {
    width: 50%;
    height: 10em;

}

[class*="col-"] {
    float: left;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newsImg {
    width: 50px;
    margin: 3px;
}

.explan {
    padding: 1em;
    font-weight: bolder;
    margin-left: 3em;
    margin-right: 3em;
}

.newsTitle {
    padding: 0.5em;
    font-weight: bolder;
    margin: 3px;
}

.newsTitle:hover {
    background-color: #008CBA;
    border-radius: 5px;
    margin: 3px;
    color: #ffffff;
    -webkit-box-shadow: 3px 3px 3px 3px #ccc;
    -moz-box-shadow: 3px 3px 3px 3px #ccc;
    box-shadow: 3px 3px 3px 3px #ccc;

}


body {
    /* The image used */
    background-image: url("https://raw.githubusercontent.com/thaisgm/SI539-Final-Project/main/newsImages/bg-gradient.jpeg");
  
    /* Set a specific height */
    min-height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    color: #2c2c2c;
}

.nav_item > a {
    text-decoration: none;
    color: #ffaf47;
}

.nav_item > a:enabled {
    text-decoration: none;
    color: #ffffff;
}

.nav_item > a:visited {
    text-decoration: none;
    color: #ffaf47;
}

.footer {
    margin-top: 65em;
    padding-bottom: 3em;
    padding-top: 1em;
}

@media screen and (min-width: 768px) {
    .col-1, .col-2, .col-3 {
        width: 33%;
        height: 10em;
    }
    .col-4, .col-5, .col-6 {
        width: 33%;
        height: 10em;

    }
    .col-7, .col-8, .col-9 {
        width: 33%;
        height: 10em;

    }
    .col-10, .col-11, .col-12 {
        width: 33%;
        height: 10em;

    }

    .footer {
        margin-top: 45em;
        padding-bottom: 3em;
        padding-top: 1em;
    }
    
}

@media screen and (min-width: 850px){
    .col-1, .col-2, .col-3 {
        width: 33.33%;
        height: 10em;
    }
    
    .col-4, .col-5, .col-6, .col-7 {
        width: 25%;
        height: 10em;

    }
    
    .col-8, .col-9, .col-10, .col-11, .col-12 {
        width: 20%;
        height: 10em;
    }
    
    .footer {
        margin-top: 35em;
        padding-bottom: 3em;
        padding-top: 1em;
    }
}



