a.skip{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }
  
  a.skip:focus{
    top:20px;
    color: black;
    text-decoration-style: solid;
  }

  body {
    background-color: #2c2c2c;
    color: #ffffff;
  }

  .logo {
    width: 15em;
    justify-content: center;
    align-self: center;

  }

  header{
    border-bottom: 1px solid #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  
  .nav_links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .active-page {
    font-weight: bold;
    background-color: #ffaf47;
  }

  .nav_item > a {
    text-decoration: none;
    color: #ffff88;
  }

  .nav_item > a:enabled {
    text-decoration: none;
    color: #ffffff;
  }

  .nav_item > a:visited {
    text-decoration: none;
    color: #ffff88;
  }
  
  h1 {
    text-align: center;
    padding: 10px;
  }

  .text {
    margin-left: 5em;
    margin-right: 5em;
    margin-top: 1em;
    margin-bottom: 1em;
}

  footer{
    width: 100%;
    height: 2.5rem;
    padding: 10px;
    background-color: black;
    color: white;
    text-align: center;
  }

  @media screen and (min-width: 850px){

    header{
      display: flex;
      flex-direction: row;
      
    }

    nav {
      display: flex;
      flex-direction: row;
    }

    .nav_links {
      justify-content: space-around;
      align-items: flex-end;         
    }

  }


  